streamlit==1.38.0
spacy==3.7.2
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
newspaper3k==0.2.8
lxml_html_clean
beautifulsoup4==4.12.3
requests==2.31.0
pandas==2.2.2
dateparser==1.2.0
openpyxl==3.1.2
