streamlit
spacy>=3.7.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
newspaper3k
lxml_html_clean
beautifulsoup4
requests
pandas
dateparser
openpyxl
